<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @phone.brand %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @phone.photo_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @phone.price %>
</p>

<p>
  <strong>Instock:</strong>
  <%= @phone.instock %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
